body {
margin: 0;
font-family: Poppins;
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
}

.container {
width: 320px;
padding: 25px;
background: rgba(0,0,0,0.5);
border-radius: 15px;
color: white;
text-align: center;
}

input {
width: 100%;
padding: 10px;
margin: 10px 0;
border-radius: 8px;
border: none;
}

button {
width: 100%;
padding: 10px;
background: linear-gradient(90deg, #ff00cc, #3333ff);
color: white;
border: none;
border-radius: 8px;
cursor: pointer;
}

a {
color: cyan;
}
